{% extends "template.html" %}

{% block head %}

{% endblock %}
{% block body %}
<main>
    <h1>Tankly</h1>
    <h2>Dein Tankbegleiter</h2>
    <form action="/search" method="post">
        <input type="text" name="address" placeholder="Musterstr. 78, 48565 Musterstadt..." required>
        <button type="submit">🔎</button>
        <select name="type" id="type">
            <option value="e10">Super E10</option>
            <option value="e5">Super E5</option>
            <option value="diesel">Diesel</option>
        </select>
        <select name="radius" id="radius">
            <option value="1">1 km</option>
            <option value="2">2 km</option>
            <option value="5" selected>5 km</option>
            <option value="10">10 km</option>
            <option value="15">15 km</option>
            <option value="20">20 km</option>
            <option value="25">25 km</option>
        </select>
    </form>
    {% block table %}
    {% endblock %}
</main>
{% endblock %}