{% extends "template.html"%}

{% block head %}

{% endblock %}
{% block body %}
<main>
    <h1>Tankly</h1>
    <h2>Dein Tankbegleiter</h2>
    {% if stations %}
    <table>
        <thead>
            <tr>
                <td>Tankstelle</td>
                <td>Entfernung</td>
                <td>Preis</td>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            <tr>
                <td>
                    {{station["name"]}}<br>
                    {{station["street"] + " " + station["houseNumber"] | string()}}<br>
                    {{station["postCode"] | string() + " " + station["place"]}}
                </td>
                <td>{{station["dist"] | string() + "km"}}</td>
                <td>{{station["price"] | string() + "€/L"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock %}