{% extends "index.html"%}

{% block head %}

{% endblock %}
{% block table%}
<div>
    {% if stations %}
    <table>
        <thead>
            <tr>
                <td>Tankstelle</td>
                <td>Entfernung</td>
                <td>Preis</td>
            </tr>
        </thead>
        <tbody>
            {% for station in stations %}
            {% if station["price"]%}
            <tr>
                <td>
                    {% if station["brand"] == "" %}
                    <b>{{station["name"]}}</b><br>
                    {% else %}
                    <b>{{station["brand"]}}</b><br>
                    {% endif %}
                    {{station["street"]| capitalize + " " + station["houseNumber"] | string()}}<br>
                    {{station["postCode"] | string() + " " + station["place"]|capitalize}}
                </td>
                <td>{{station["dist"] | string() + "km"}}</td>
                <td>{{station["price"] | string() + "€/L"}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="color: red;">Bei Ihrer Suche ist leider ein Fehler aufgetreten. Bitte versuchen Sie es noch einmal.</p>
    {% endif %}
</div>
{% endblock %}