{% extends "template.html"%}

{% block head %}

{% endblock %}
{% block body %}
<main>
    <h1>Tankly</h1>
    <h2>Dein Tankbegleiter</h2>
    <table>
        <thead>
            <tr>
                <td>Tankstelle</td>
                <td>Entfernung</td>
                <td>Preis</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tankstelle Musterstadt</td>
                <td>1.1km</td>
                <td>1.119 €/L</td>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}